.carInfo-container {
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  height: 90vh;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  grid-template: auto auto/repeat(2, 1fr);
}
.carInfo-container .car-sliders {
  height: 80vh;
  width: 100%;
  background-color: #191d24;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.carInfo-container .car-sliders .car-slider {
  color: black;
  height: 75%;
  position: relative;
  background-color: rgb(79, 55, 55);
  display: flex;
  overflow: hidden;
  align-items: center;
}
.carInfo-container .car-sliders .car-slider .car-slide {
  position: relative;
  min-width: 100%;
  height: 100%;
  border-radius: 5%;
  transition: 0.5s ease-in-out;
}
.carInfo-container .car-sliders .car-slider .car-slide img {
  width: 100%;
  height: 100%;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
}
.carInfo-container .car-sliders .car-slider #goRight, .carInfo-container .car-sliders .car-slider #goLeft {
  transform: translateY(-50%);
  width: 10%;
  height: 100%;
  position: absolute;
  top: 50%;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0%;
  transition: 0.5s linear;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.carInfo-container .car-sliders .car-slider #goRight:hover, .carInfo-container .car-sliders .car-slider #goLeft:hover {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.carInfo-container .car-sliders .car-slider #goRight .icons, .carInfo-container .car-sliders .car-slider #goLeft .icons {
  height: 35px;
}
.carInfo-container .car-sliders .car-slider #goLeft {
  left: 0;
}
.carInfo-container .car-sliders .car-slider #goRight {
  right: 0;
}
.carInfo-container .img-container {
  padding: 0.3rem;
  overflow: hidden;
  height: 23.5vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.carInfo-container .img-container .small-card-container {
  padding-top: 0.5rem;
  height: 23.5vh;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.carInfo-container .img-container .small-card-container .small-img-card img {
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 3.2rem;
  width: 3.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.carInfo-container .car-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 80vh;
  background-color: red;
}
.carInfo-container .car-details .details-header {
  width: 100%;
  height: 8%;
  border-bottom: 3px solid #767676;
}
.carInfo-container .car-details .details {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.carInfo-container .car-details .details .detail-icons {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.carInfo-container .car-details .details .detail-icons .detail-icon {
  width: 20%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.carInfo-container .car-details .details .detail-icons .detail-icon-def {
  width: 80%;
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.carInfo-container .car-details .details .detail-icons .detail-icon-def hr {
  width: 90%;
}
.carInfo-container .car-details .details .detail-infos {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.carInfo-container .car-details .details .detail-infos hr {
  width: 90%;
}
.carInfo-container .car-details .details-footer {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
.carInfo-container .car-details .details-footer button {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 0;
  font-size: 1rem;
  height: 50%;
  width: 40%;
  border-radius: 0.5rem;
  border: 2px solid black;
  background: none;
  transition: 0.3s ease-in-out;
  font-size: 0.9rem;
  height: 2rem;
}
.carInfo-container .car-details .details-footer button::before {
  z-index: -1;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0%;
}
.carInfo-container .car-details .details-footer button:hover::before {
  width: 100%;
}
.carInfo-container .car-details .details-footer button:hover {
  transform: scale(1.1);
}
.carInfo-container .car-details .details-footer .rent-btn {
  border: 3.2px dotted rgba(17, 157, 161, 0.4196078431);
}
.carInfo-container .car-details .details-footer .rent-btn::before {
  background-color: rgba(17, 157, 161, 0.4196078431);
}
.carInfo-container .car-details .details-footer .rent-btn:hover {
  border: none;
}
.carInfo-container .car-details .details-footer .seller-btn {
  border: 3.2px dotted rgba(63, 113, 175, 0.4196078431);
}
.carInfo-container .car-details .details-footer .seller-btn::before {
  background-color: rgba(63, 113, 175, 0.4196078431);
}
.carInfo-container .car-details .details-footer .seller-btn:hover {
  border: none;
}
.carInfo-container .car-details .details-footer .delete-btn {
  border: 3.2px dotted rgba(232, 69, 69, 0.4745098039);
}
.carInfo-container .car-details .details-footer .delete-btn::before {
  background-color: rgba(232, 69, 69, 0.4745098039);
}
.carInfo-container .car-details .details-footer .delete-btn:hover {
  border: none;
}
.carInfo-container .car-details .details-footer .edit-btn {
  border: 3.2px dotted rgba(255, 222, 125, 0.3725490196);
}
.carInfo-container .car-details .details-footer .edit-btn::before {
  background-color: rgba(255, 222, 125, 0.3725490196);
}
.carInfo-container .car-details .details-footer .edit-btn:hover {
  border: none;
}
.carInfo-container .car-details {
  z-index: 88;
}

.carInfo-container.dark-theme * {
  transition: 0.5s ease-in-out;
}
.carInfo-container.dark-theme .car-details {
  background-color: #191d24;
}
.carInfo-container.dark-theme .car-sliders {
  background-color: #191d24;
}
.carInfo-container.dark-theme .img-container {
  background-color: rgba(255, 255, 255, 0.288);
}

.carInfo-container.light-theme .car-details {
  background-color: #7b7467;
}
.carInfo-container.light-theme .car-details .details-header {
  border-bottom: 3px solid #aeaeae;
}
.carInfo-container.light-theme .car-sliders {
  background-color: #7b7467;
}
.carInfo-container.light-theme .img-container {
  background-color: #cdc2ae;
}
.carInfo-container.light-theme .details-footer .seller-btn {
  border: solid 1px white;
}
.carInfo-container.light-theme .details-footer .rent-btn {
  border: solid 1px white;
}
.carInfo-container.light-theme .details-footer .delete-btn {
  border: solid 1px white;
}
.carInfo-container.light-theme .details-footer .edit-btn {
  border: solid 1px white;
}/*# sourceMappingURL=CarInfo.css.map */