.profile-container {
  margin-top: 1rem;
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1rem;
}
.profile-container * {
  transition: 0.3s ease-in-out;
}
.profile-container .user-cars #goRight, .profile-container .user-cars #goLeft {
  transform: translateY(-50%);
  width: 5%;
  height: 100%;
  position: absolute;
  top: 50%;
  margin: 0;
  background: none;
  color: white;
  border: none;
  border-radius: 0%;
  transition: 0.5s linear;
}
.profile-container .user-cars #goRight:hover, .profile-container .user-cars #goLeft:hover {
  background: rgba(255, 255, 255, 0.25);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}
.profile-container .user-cars #goRight .icons, .profile-container .user-cars #goLeft .icons {
  height: 35px;
}
.profile-container .user-info-container {
  width: 100%;
  height: 23vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
}
.profile-container .user-info-container .user-info-img {
  border-radius: 10%;
  width: 40vh;
  height: 21vh;
  overflow: hidden;
}
.profile-container .user-info-container .user-info-img .user-profile-img {
  width: 30vh;
  height: 21vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container .user-info-container .user-info {
  width: 70%;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-container .user-info-container .user-info .user-info-icons {
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}
.profile-container .user-info-container .user-info .user-info-icons svg {
  height: 1.3rem;
}
.profile-container .user-info-container .user-info .user-infos {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.profile-container .user-cars {
  position: relative;
  width: 100%;
  height: 18rem;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  grid-template: repeat(1, 1fr)/auto;
}
.profile-container .user-cars .car-card {
  width: 16rem;
  height: 13rem;
}
.profile-container .user-cars .car-card .card-img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 13rem;
}
.profile-container .user-cars .car-card .card-img img {
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 13rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile-container .user-cars .car-card .card-footer {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.profile-container .user-cars .car-card .card-footer .card-buttons {
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.profile-container .user-cars .car-card .card-footer .card-buttons button {
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding: 0;
  font-size: 1rem;
  height: 50%;
  width: 40%;
  border-radius: 0.5rem;
  border: 2px solid black;
  background: none;
  transition: 0.3s ease-in-out;
  height: 100%;
  width: 7rem;
  font-size: 0.8rem;
  border: 2px dotted;
  margin: 0;
}
.profile-container .user-cars .car-card .card-footer .card-buttons button::before {
  z-index: -1;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0%;
}
.profile-container .user-cars .car-card .card-footer .card-buttons button:hover::before {
  width: 100%;
}
.profile-container .user-cars .car-card .card-footer .card-buttons button:hover {
  transform: scale(1.1);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .rent-btn,
.profile-container .user-cars .car-card .card-footer .card-buttons .edit-btn {
  border-color: rgba(17, 157, 161, 0.4196078431);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .rent-btn::before,
.profile-container .user-cars .car-card .card-footer .card-buttons .edit-btn::before {
  background-color: rgba(17, 157, 161, 0.4196078431);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .see-details-btn {
  border-color: rgba(63, 113, 175, 0.4196078431);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .see-details-btn::before {
  background-color: rgba(63, 113, 175, 0.4196078431);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .stp-rent-btn {
  border-color: rgba(232, 69, 69, 0.4745098039);
}
.profile-container .user-cars .car-card .card-footer .card-buttons .stp-rent-btn::before {
  background-color: rgba(232, 69, 69, 0.4745098039);
}
.profile-container .user-cars #goLeft {
  left: 0;
}
.profile-container .user-cars #goRight {
  right: 0;
}

.profile-container.dark-theme .user-info-container {
  background-color: #191d24;
}
.profile-container.dark-theme .user-carCards {
  background-color: #222831;
}

.profile-container.light-theme .user-info-container {
  background-color: #7b7467;
}
.profile-container.light-theme .user-carCards {
  background-color: #cdc2ae;
}
.profile-container.light-theme .user-carCards .car-card .card-footer .card-buttons button {
  border: 2px solid white;
}/*# sourceMappingURL=Profile.css.map */