.car-add-container {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: relative;
  grid-template: auto/repeat(2, 1fr);
  margin-top: 2rem;
  height: 87vh;
  width: 100%;
  color: black;
}
.car-add-container label {
  margin: 0;
}
.car-add-container input {
  border: none;
  font-weight: 0.1rem;
  border-radius: 0.1rem;
}
.car-add-container textarea {
  resize: none;
  border-radius: 0.1rem;
}
.car-add-container .car-add-car-infos {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.car-add-container .car-add-car-infos .car-add-car-infos-form {
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template: auto/repeat(2, 1fr);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.car-add-container .car-add-car-infos .car-add-car-infos-form .about-car {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 0.8rem;
  width: 100%;
}
.car-add-container .car-add-car-infos .car-add-car-infos-form .car-add-button {
  width: 45%;
  height: 2.991rem;
  position: absolute;
  right: 1.7rem;
  bottom: 1.7rem;
  margin: 0;
  padding: 0.5rem;
  border-radius: 0.1rem;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.car-add-container .car-add-car-infos .car-add-car-infos-form .car-add-button::before {
  z-index: -1;
  content: "";
  position: absolute;
  transition: 0.3s ease-in-out;
  background-color: #8ec3b0;
  top: 0;
  height: 2.991rem;
  left: 0;
  margin: 0;
  width: 0%;
  border-radius: 0.1rem;
}
.car-add-container .car-add-car-infos .car-add-car-infos-form .car-add-button:hover {
  box-shadow: 0px 2px 20px rgba(88, 185, 141, 0.586);
  transform: scale(1.05);
}
.car-add-container .car-add-car-infos .car-add-car-infos-form .car-add-button:hover::before {
  width: 100%;
}
.car-add-container .car-add-car-infos .car-add-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

.car-add-images {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
.car-add-images .file-card {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #def0ff;
  border: 3px dashed #cbd5e0;
  max-width: 100%;
  max-height: 35%;
  padding: 1rem;
  width: 90%;
  height: 100%;
}
.car-add-images .file-card button {
  border: none;
}
.car-add-images .file-card .file-inputs {
  position: relative;
  height: 46px;
  margin-bottom: 1.5em;
}
.car-add-images .file-card .file-inputs input {
  position: relative;
  max-width: 200px;
  height: 50px;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  bottom: 0.5rem;
}
.car-add-images .file-card .file-inputs button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0;
  color: #63676a;
  background-color: #be944b;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 0.1rem;
  border: none;
  outline: none;
  transition: 0.3s ease-in-out;
}
.car-add-images .file-card .file-inputs button i {
  cursor: pointer;
  text-decoration: none;
}
.car-add-images .file-card .file-inputs:hover button {
  color: rgb(22, 22, 22);
  transform: scale(1.1);
  background-color: #e7b257;
}
.car-add-images .file-list {
  display: grid;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-template: repeat(5, 1fr)/repeat(2, 1fr);
  align-items: flex-start;
  justify-content: flex-start;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  width: 90%;
  height: 45%;
  margin-bottom: 5rem;
}
.car-add-images .file-list li {
  margin-top: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 0.1rem;
  width: 100%;
  height: 2rem;
  font-size: 0.8rem;
  background-color: #f5d59e;
}
.car-add-images .file-list li svg {
  transition: 0.3s ease-in-out;
  color: rgb(245, 132, 132);
}
.car-add-images .file-list li svg:hover {
  transform: scale(1.1);
  color: red;
}/*# sourceMappingURL=CarAdd.css.map */