.navbar {
  width: 100%;
  z-index: 9999;
  position: fixed;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.navbar ul li {
  cursor: pointer;
  transition: 0.3s ease;
}
.navbar ul li:hover {
  transform: scale(1.1);
}
.navbar ul li a {
  text-decoration: none;
}
.navbar ul li a:hover {
  color: bisque;
}
.navbar ul button {
  padding: 0.2rem;
  font-size: 0.8rem;
}

.nav-route {
  width: 70%;
  float: left;
  height: 55px;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.nav-route ul {
  width: 100%;
}
.nav-route .fav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
  position: relative;
}
.nav-route .fav-icon:hover {
  color: bisque;
}
.nav-route .fav-icon span {
  background-color: rgb(214, 67, 67);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 1rem;
  aspect-ratio: 1;
  text-align: center;
  font-size: 0.65rem;
}

.nav-auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 55px;
  padding: 0.5rem;
  width: 30%;
  float: right;
}
.nav-auth .dropdown {
  position: relative;
}
.nav-auth .dropdown .dropdown-container {
  cursor: auto;
  opacity: 1;
  position: absolute;
  background-color: rgba(34, 40, 49, 0.8235294118);
  right: 0;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  width: 7rem;
  font-size: 0.9rem;
  height: 10rem;
  transition: 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.1rem;
  transform: translateX(45%);
  -webkit-animation: dropDownAnimation 0.4s linear;
          animation: dropDownAnimation 0.4s linear;
}
.nav-auth .dropdown .dropdown-container li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
}
.nav-auth .switch {
  position: relative;
  display: inline-block;
  margin: 0;
  width: 3.3rem;
  height: 1.5rem;
}
.nav-auth .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.nav-auth .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transition: 0.5s ease-out;
  border-radius: 30px;
}

@-webkit-keyframes dropDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50%);
    transform: translateX(-45%);
  }
  100% {
    transform: translateY(0%);
    transform: translateX(45%);
    opacity: 1;
  }
}

@keyframes dropDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50%);
    transform: translateX(-45%);
  }
  100% {
    transform: translateY(0%);
    transform: translateX(45%);
    opacity: 1;
  }
}
.navbar.dark-theme .nav-auth {
  background-color: #191d24;
  border-left: 3px solid #767676;
}
.navbar.dark-theme .nav-auth .switch .slider {
  background-color: #51557e;
}
.navbar.dark-theme .nav-auth .switch .slider::before {
  position: absolute;
  content: "";
  transition: 0.5s ease-out;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 20px;
  left: 0.3rem;
  bottom: 0.13rem;
  background-image: url("./moon.svg");
}
.navbar.dark-theme .nav-route {
  background-color: #222831;
}

.navbar.light-theme .nav-auth {
  background-color: #7b7467;
  border-left: 3px solid #ffffff;
}
.navbar.light-theme .nav-auth .dropdown .dropdown-container {
  background-color: #7b7467;
}
.navbar.light-theme .nav-auth .switch .slider {
  background-color: #98a8f8;
}
.navbar.light-theme .nav-auth .switch .slider::before {
  position: absolute;
  content: "";
  transition: 0.5s ease-out;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 20px;
  left: 1.8rem;
  bottom: 0.13rem;
  background-image: url("./sun.svg");
}
.navbar.light-theme .nav-route {
  background-color: #cdc2ae;
}/*# sourceMappingURL=navbar.css.map */