@import "../styles/style.scss";

// General designing for navbar.
.navbar {
  width: 100%;
  z-index: 9999;
  box-shadow: 0px 1px 8px 2px rgba(255, 255, 255, 0.38);
  position: fixed;
  ul {
    list-style: none;
    @include flexCenter(row, flex);
    justify-content: space-evenly;
    column-gap: 1rem;
    li {
      cursor: pointer;
      transition: 0.3s ease;
      &:hover {
        transform: scale(1.1);
      }
      a {
        text-decoration: none;
        &:hover {
          color: bisque;
        }
      }
    }
    button {
      padding: 0.2rem;
      font-size: 0.8rem;
    }
  }
}

.nav-route {
  width: 70%;
  float: left;
  height: 55px;
  padding: 0.5rem;
  @include flexCenter(row, flex);
  ul {
    width: 100%;
  }
  .fav-icon {
    @include flexCenter(row, flex);
    column-gap: 0.2rem;
    position: relative;
    &:hover {
      color: bisque;
    }
    span {
      background-color: rgb(214, 67, 67);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      height: 1rem;
      aspect-ratio: 1;
      text-align: center;
      font-size: 0.65rem;
    }
  }
}

.nav-auth {
  @include flexCenter(row, flex);
  justify-content: space-around;
  width: 100%;
  height: 55px;
  padding: 0.5rem;
  width: 30%;
  float: right;
  .dropdown {
    position: relative;
    .dropdown-container {
      cursor: auto;
      opacity: 1;
      position: absolute;
      background-color: #222831d2;
      right: 0;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
      width: 7rem;
      font-size: 0.9rem;
      height: 10rem;
      transition: 0.3s ease-in-out;
      @include flexCenter(column, flex);
      justify-content: space-evenly;
      padding: 0.1rem;
      transform: translateX(20%);
      animation: dropDownAnimation 0.4s linear;
      li {
        width: 100%;
        @include flexCenter(row, flex);
        justify-content: space-evenly;
      }
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    margin: 0;
    width: 3.3rem;
    height: 1.5rem;
    input {
      opacity: 0;
      width: 0;
      height: 0;
    }
    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      transition: 0.5s ease-out;
      border-radius: 30px;
    }
  }
}
// Animation for dropdown.
@keyframes dropDownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-50%);
    transform: translateX(-45%);
  }
  100% {
    transform: translateY((0%));
    transform: translateX(20%);
    opacity: 1;
  }
}
// Coloring depens on theme

// DARK THEME
.navbar.dark-theme {
  .nav-auth {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-left: 3px solid #ffffff;
    .switch {
      .slider {
        background-color: #51557e;
        &::before {
          position: absolute;
          content: "";
          transition: 0.5s ease-out;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 20px;
          left: 0.3rem;
          bottom: 0.13rem;
          background-image: url("./moon.svg");
        }
      }
    }
  }
  .nav-route {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
  }
}

// LIGHT THEME
.navbar.light-theme {
  box-shadow: 0px 2px 8px 5px rgba(69, 68, 68, 0.67);
  .nav-auth {
    background: rgba(75, 75, 75, 0.3);
    backdrop-filter: blur(10px);
    border-left: 3px solid #ffffff;
    .dropdown {
      .dropdown-container {
        background: rgba(75, 75, 75, 0.3);
        backdrop-filter: blur(10px);
      }
    }
    .switch {
      .slider {
        background-color: #98a8f8;
        &::before {
          position: absolute;
          content: "";
          transition: 0.5s ease-out;
          height: 1.2rem;
          width: 1.2rem;
          border-radius: 20px;
          left: 1.8rem;
          bottom: 0.13rem;
          background-image: url("./sun.svg");
        }
      }
    }
  }
  .nav-route {
    background: rgba(75, 75, 75, 0.3);
    backdrop-filter: blur(10px);
  }
}
