.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
.sign-up {
  position: relative;
  color: whitesmoke;
  transition: 0.3s ease;
  border: 3.2px dotted #c7f2a490;

  background: none;
}
.sign-up:hover {
  color: black;
  opacity: 0.8;
}
.sign-up::before {
  width: 0;
  top: 0;
  height: 100%;
  content: "";
  left: 0;
  position: absolute;
  border-radius: inherit;
  z-index: -1;
  background-color: #c7f2a490;
  transition: 0.3s ease-in-out;
}
.sign-up:hover::before {
  width: 100%;
}
