@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: dodgerblue;
}
